/* css corpo */
        .btn-lg {
            width: 100%;
            margin-bottom: 70px;/* espaçamento entre os botões */
			background-color: #696969; /* cores dos botões */
        }
        .h3 {
            text-align: center;
        }
	/* fonte google */
		.corpo{
			text-align: justify;
			font-family: 'Roboto', sem serifa;}
	/* fim css corpo */