 body {
            padding: 20px;
        }
        h1 {
            text-align: center;
        }
        
		 .btn-lg {
            width: 100%;
            margin-bottom: 30px;/* espaçamento entre os botões */
			background-color: #008B8B; /* cores dos botões */
        }
        .container {
            margin-top: 20px;
        }
        ul {
            list-style: none;
            padding-left: 0;
			font-size: 16px;
			font-weight: bold;
        }
        
        #password-prompt, #incorrect-password-alert {
          position:absolute;
          top:50%;
          left:50%;
          transform:translate(-50%,-50%);
          display:none;
          background-color:white;
          border:solid black 1px;
          padding:20px;
        }