/* css corpo */
		/* botão player */
		
        .container {
            text-align: center;
        }
#img {
    display: block;
    margin: 0 auto;
	width: 90%;
	height: auto;
      }
	/* fim css corpo */
	
	 .progress-bar {
      width: 100%;
      height: 20px;
      background-color: lightgray;
      cursor: pointer;
    }
    .progress-fill {
      height: 100%;
      background-color: blue;
    }
	/* css animação*/
	 .overlay {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0,0,0,0.5);
            z-index: 2;
            display: none;
        }

        .loader {
            border: 16px solid #f3f3f3;
            border-top: 16px solid #008B8B;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite;
            position: fixed;
            top: 30%;
            left: 35%;
            transform: translate(-50%, -50%);
            z-index: 3;
        }

        @keyframes spin {
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
		.loading-text {
            position: fixed;
            top: calc(27% + 70px);
            left: 51%;
            transform: translateX(-50%);
            color: white;
            font-size: 11px;
            z-index: 3;
		}
		.myBtn {
  border: none;
  color: white;
  padding: 12px 32px;/* regula tamanho dos botões */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.4s;
  cursor: pointer;
  
  background-color: #008B8B;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 30px;/* espaçamento entre os botões */
}
.myBtn:hover {
  background-color: #2F4F4F; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
}
