/* css corpo */
        .btn-lg {
            width: 100%;
            margin-bottom: 70px;/* espaçamento entre os botões */
			background-color: #008B8B; /* cores dos botões */
        }
        .h1 {
            text-align: center;
        }
		.container{text-align: center;}
	/* fim css corpo */
